@import '../abstracts/variables';

.beer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid $highlight-dark;
    width: 13rem;
    height: 20rem;
    padding: 1rem;
    margin: 0.5rem;
    margin-left: 1.8rem;
    background-color: $background-color-2;
    border-radius: 4%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $highlight-dark;
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
    background: $highlight-light;
    border-radius: 15px;
    }
    
    .beer-card__beer-image{
        height: 8rem;
        width: auto;
    }

    .beer-card__name{
        color: $highlight-light;
    }
    .beer-card__description{
        color: $text-color;
        font-size: $main-text-size-mobile;
        margin-top: 0.6rem;
    }

    .beer-card__details{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
  .beer-card{
    width: 16rem;
    height: 25rem;
    .beer-card__beer-image{
        height: 10rem;
        width: auto;
    }

    .beer-card__name{
       font-size: $main-text-size-desktop; 
    }
    .beer-card__description{
        font-size: $main-text-size-desktop;
    }
}
}