.beer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    width: 23rem;
    padding: 1rem;
    margin: 0.5rem;
    .beer-card__beer-image{
        height: 10rem;
        width: auto;
    }
}