.filter-list{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    .filter-list__name{
        color: $highlight-light;
        font-size: $main-text-size-mobile;
    }
}

@media screen and (min-width: 768px) {
    .filter-list{


    .filter-list__name{
        font-size: 0.9rem;
    }
}
}