.filter-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 0.5rem;

    .filter-item__label{
        color: $text-color;
        font-size: 0.55rem;
    }
}