@import '../abstracts/variables';

.search-box{
    color: $highlight-light;
    display: flex;
    flex-direction: column;
    
    .search-box__input{
        width: 4.9rem;
        height: 1rem;
        font-size: $main-text-size-mobile;
        margin-top: 0.6rem;
    }

    .search-box__label{
        color: $main-text-size-mobile;
        font-size: 0.6rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .search-box{
        .search-box__label{
            font-size: 1.2rem;
        }

        .search-box__input{
            width: 8rem;
        }
    }
}