.nav-pane{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 100%;
    padding: 0.5rem;
    background-color: $background-color-2;
    border-right: 4px solid $highlight-dark;

    .nav-pane__logo{
        width: 5rem;
        height: auto;
        
    }
}

@media screen and (min-width: 768px) {
    .nav-pane{
        width: 8rem;

        .nav-pane__logo{
            width: 8.1rem;
        }
    }
}