.nav-pane{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    padding: 1rem;
    background-color: $background-color-2;
    border-right: 4px solid $highlight-dark;
    box-shadow: 4px 4px 4px $highlight-light;
}